/* ============================ */
.sunfw-content .main-color {
  color: #e54545;
}
.sunfw-content .bg-main-color {
  background: #e54545;
}
ul.newsfeed li, ul.archive-module li, ul.relateditems li, ul.categories-module li, ul.category-module li, ul.mostread li, ul.latestnews li, ul.latestusers li {
  color: #e54545;
}
ul.newsfeed li a *, ul.archive-module li a *, ul.relateditems li a *, ul.categories-module li a *, ul.category-module li a *, ul.mostread li a *, ul.latestnews li a *, ul.latestusers li a * {
  color: #e54545;
}
ul.categories-module ul li {
  color: #e54545;
}
.item-page.edit #com-content-formTabs > li.active > a:hover, .item-page.edit #com-content-formTabs > li.active > a {
  border-color: #e54545;
  background-color: #e54545;
}
.home-contact-box {
  border-color: #e54545 !important;
}
.page-header h2 a, .blog-featured h2.item-title a, .blog h2.item-title a {
  color: #e54545;
}
.icon-hover-type-1:hover {
  color: #e54545 !important;
}
.icon-hover-type-2:hover {
  background-color: #e54545;
}
.label-info[href]:hover, .label-info[href]:focus, .content_rating + form input[name="submit_vote"], .content_rating + form .content_vote input {
  background: #e54545 !important;
}
ul.nav[class*='menu-treemenu'] li a:hover {
  color: #e54545;
}
.color-img img {
  background-color: #e54545;
}
.bg-main-color .jsn-es-background {
  background-color: #e54545 !important;
}
ul.nav[class*='menu-treemenu'] li.active > a, ul.nav[class*='menu-treemenu'] li.current > a {
  color: #e54545;
}
ul.nav[class*='menu-sidemenu'] li.active > a, ul.nav[class*='menu-sidemenu'] li.current > a {
  color: #e54545;
}
ul.nav.menu li a:hover, .btn.btn-plain:hover {
  color: #e54545;
}
.hikashop_cart_product_name a:hover {
  color: #e54545;
}
.bg-2nd-subcolor {
  background-color: #606060;
}
.sunfw-scrollup:hover {
  background-color: #959595;
}
nav.navbar.sunfw-menu-head ul.navbar-nav > li:hover > a, nav.navbar.sunfw-menu-head ul.navbar-nav > li.active > a {
  color: #e54545 !important;
}
nav.navbar.sunfw-menu-head ul.navbar-nav > li:hover > a .caret:before, nav.navbar.sunfw-menu-head ul.navbar-nav > li.active > a .caret:before {
  color: #e54545 !important;
}
.module-style-2 .module-title .box-title {
  border-color: #e54545;
  color: #e54545 !important;
}
.module-style-2 .module-title .box-title i.fa {
  border-color: #e54545;
  color: #e54545;
}
.module-style-3 .module-title .box-title {
  border-color: #e54545;
}
.content-category .cat-children h3.page-header a {
  color: #e54545;
}
.hikashop_header_buttons a {
  color: #e54545;
}
h3.glass_module_title:after {
  background-color: #e54545;
}
.sunfw_get_it_touch .container .get-it-touch .box-form .layout-item {
  border-color: #e54545;
}
.label-info {
  color: #e54545;
  border-color: #e54545;
}
div.pagination ul.pagination li.active a {
  border-color: #e54545;
  background-color: #e54545;
}
ul.pagination li.active a, .pagination > .active > a, .pagination > .active > a:hover {
  border-color: #e54545;
  background-color: #e54545;
}
.item-page.edit form#adminForm .toggle-editor .btn {
  color: #e54545;
}
.breadcrumb > li + li:before {
  color: #e54545;
}
.glass-header-title:after {
  background-color: #e54545;
}
.jsn-counter-wrap .info .number {
  color: #e54545;
}
.jsn-counter-wrap .info:after {
  color: #e54545;
}
.content-category .form-inline table.category a {
  color: #e54545;
}
select[multiple]:focus, select[size]:focus, select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  border-color: #e54545;
}
p.readmore a {
  background-color: #e54545;
}
#menu_item_menu ul.dropdown-menu li a:hover, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:hover, #menu_item_menu .modulecontainer ul.nav-child li a:hover, #menu_item_menu ul.dropdown-menu li a:focus, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:focus, #menu_item_menu .modulecontainer ul.nav-child li a:focus, #menu_item_menu ul.dropdown-menu li a.current, #menu_item_menu ul.sunfw-megamenu-sub-menu li a.current, #menu_item_menu .modulecontainer ul.nav-child li a.current {
  color: #e54545 !important;
}
#menu_item_menu ul.dropdown-menu li a:hover .caret:before, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:hover .caret:before, #menu_item_menu .modulecontainer ul.nav-child li a:hover .caret:before, #menu_item_menu ul.dropdown-menu li a:focus .caret:before, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:focus .caret:before, #menu_item_menu .modulecontainer ul.nav-child li a:focus .caret:before, #menu_item_menu ul.dropdown-menu li a.current .caret:before, #menu_item_menu ul.sunfw-megamenu-sub-menu li a.current .caret:before, #menu_item_menu .modulecontainer ul.nav-child li a.current .caret:before {
  color: #e54545 !important;
}
nav.navbar.sunfw-menu-head ul.navbar-nav > li.active > a i.fa {
  border-color: #e54545;
}
.carousel-control > span:not(.sr-only) {
  background-color: #e54545;
}
.cat-children .item-title.page-header a, .categories-list .item-title.page-header a, .contact-category #adminForm .category .list-title a, .contact .accordion-group .contact-links ul li a, .display-in-list .hikashop_subcategories ul.box-categories-list li.hikashop_category_list_item a, .btn-mini:not(.btn-primary), .btn-small:not(.btn-primary) {
  color: #e54545;
}
.hikashop_cpanel_main .hikashop_cpanel .hk-row-fluid .icon-wrapper .icon a:hover span {
  color: #e54545 !important;
}
.hikashop_product_list_div .hikashop_container .hikashop_listing_img .hikashop_product_stock a.hikashop_cart_button, .hikashop_product_list_div .hikashop_container .hikashop_listing_img_title .hikashop_product_stock a.hikashop_cart_button {
  background-color: #e54545;
}
.hikashop_product_name a {
  color: #e54545 !important;
}
.display-in-div .hikashop_category_listing_div .hikashop_subcontainer .hikashop_category_name a.btn-transparent:hover {
  color: #e54545;
}
.display-in-list .hikashop_subcategories ul.box-categories-list li.hikashop_category_list_item a:hover {
  color: #e54545;
}
.hikashop_module ul.category-menu li a {
  color: #e54545;
}
.your-cart-module a.btn {
  background-color: #e54545;
}
a.hikashop_cart_button {
  background: none #e54545;
}
#hikashop_product_top_part h1 {
  color: #e54545;
}
a.hikashop_product_quantity_field_change, a.hikashop_product_quantity_field_change:hover {
  color: #e54545;
}
.hikashop_product_page .show_tabular .hikashop_tabs_ul li.hikashop_tabs_li_selected {
  background-color: #e54545 !important;
  border-color: #e54545 !important;
}
.hikashop_product_page .hikashop_vote_form .button {
  background-color: #e54545;
}
.hikashop_submodules h2:after {
  background-color: #e54545;
}
.hikashop_products_listing ul.hikashop_product_list li a.hikashop_product_name_in_list {
  color: #e54545;
}
.hikashop_cart_product_name a {
  color: #e54545;
}
table.hikashop_cart_products tbody > tr > td .hikashop_cart_product_name a {
  color: #e54545 !important;
}
.hikashop_order_number_value a {
  color: #e54545 !important;
}
#hikashop_carts_listing div.toolbar a:hover, #hikashop_affiliate_main div.toolbar a:hover, #hikashop_address_listing div.toolbar a:hover, #hikashop_order_listing div.toolbar a:hover {
  color: #e54545 !important;
}
.notifyjs-metro-info .title {
  color: #e54545 !important;
}
/* ============================ Sub Color ============================ */
.nav[class*='menu-'] li a.get-it.btn-primary:hover {
  background-color: #f06060;
}
nav.navbar.sunfw-menu-head ul.navbar-nav > li > a.get-it.btn-primary:hover, nav.navbar.sunfw-menu-head ul.navbar-nav > li > a.get-it.btn-primary:focus {
  background-color: #f06060;
}
a.hikashop_cart_button:hover {
  background: none #f06060;
}
.hikashop_product_page .hikashop_vote_form .button:hover {
  background-color: #f06060;
}
.your-cart-module a.btn:hover {
  background-color: #f06060;
}
p.readmore a:hover {
  background-color: #f06060;
}
.hikashop_product_list_div .hikashop_container .hikashop_listing_img .hikashop_product_stock a.hikashop_cart_button:hover, .hikashop_product_list_div .hikashop_container .hikashop_listing_img_title .hikashop_product_stock a.hikashop_cart_button:hover {
  background-color: #f06060;
}
.sunfw-content .bg-main-color:hover {
  background-color: #f06060 !important;
}
.carousel-control > span:not(.sr-only):hover {
  background-color: #f06060;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: #f06060 !important;
  border-color: #f06060 !important;
}
